.App {
  text-align: center;
}
*{
  outline: black solid 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo{
  display: grid;
  place-items: center;
}
table{
  width: 100%;
}
.one-half-column{
  width: 50%;
}
.widthColumn{
  margin: auto;
  width: 50%;
  padding: 20px;
}
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

h1,
h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
label {
  color: white;
}
input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
  width: auto;
  height: auto;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px
}